# AJ instrument configuration
# Simulated echelle spectrograph with 75 fibers per order

__instrument__: AJ
instrument: PYE1
id_instrument: ".*ZEMAX.*"
telescope: Simulated

date: DATE-OBS
date_format: fits

channels: [ALL]
extension: 0
orientation: 0
transpose: false

prescan_x: 0
overscan_x: 0
prescan_y: 0
overscan_y: 0
naxis_x: NAXIS1
naxis_y: NAXIS2

gain: 1
readnoise: 0
dark: 0
sky: 0
exposure_time: EXPTIME

ra: null
dec: null
target: PYE1

# File classification
# For fiber bundle tracing, we need separate even/odd flat files
# These are matched by filename pattern since header values aren't reliable
kw_bias: PYE1
kw_flat: PYE1
kw_flat_even: FILENAME
kw_flat_odd: FILENAME
kw_orders: PYE1
kw_wave: PYE1
kw_spec: PYE1

id_bias: ".*bias.*"
id_flat: ".*"
id_flat_even: ".*even.*"
id_flat_odd: ".*odd.*"
id_orders: ".*"
id_wave: ".*"
id_spec: ".*"

# Fiber grouping configuration
# 75 fibers per order, organized into logical groups
# A/B/cal: spatial division of the slit
# ring0-4: IFU hexagonal structure (center to outer rings)
fibers:
  per_order: true
  fibers_per_order: 75
  order_centers_file: order_centers.yaml
  groups:
    # Spatial groups
    A:
      range: [1, 36]
      merge: average
    cal:
      range: [37, 40]
      merge: average
    B:
      range: [40, 76]
      merge: average
    # IFU rings (fiber 1,75=cal, 2=gap, gaps between rings)
    ifu:
      range: [3, 74]
      merge: average
    ring0:
      range: [3, 4]
      merge: average
    ring1:
      range: [6, 17]
      merge: average
    ring2:
      range: [18, 30]
      merge: average
    ring3:
      range: [31, 49]
      merge: average
    ring4:
      range: [50, 74]
      merge: average
  use:
    science: [A, B]
    wavecal: [cal]
    norm_flat: all
