*.swp
*.swo
*.pyc
*.o
*.so
*.sav
*.bin
*.dat
dump*
clib/_*
reduce.cprof
*.log
.ipynb_checkpoints
Pipfile.lock
*.txt
masks/*
examples/datasets/*
examples/reduced/*
examples/*.pro
examples/uves_data.tar.gz
examples/mask_uves_red.fits.gz
pyreduce/masks/*
test/UVES/*
pyreduce.egg-info/
pyreduce/clib/_*
.pytest_cache/*
.gitignore
