*.swp
*.swo
*.pyc
*.o
*.so
*.bin
*.dat
dump*
reduce.cprof
*.log
.ipynb_checkpoints
Pipfile.lock
examples/datasets/*
examples/reduced/*
examples/*.pro
examples/uves_data.tar.gz
examples/mask_uves_red.fits.gz
test/UVES/*
pyreduce.egg-info/
pyreduce/clib/_*
.pytest_cache/*
.gitignore
test/datasets/*
test/uves_data.tar.gz
uves_data.tar.gz
datasets/**
examples/uves_middle_600nm_2D.sav
examples/uves_red_600nm_2D.sav
docs/_build/*
pyreduce/datasets/HD132205/UVES.2010-04-02T09_28_05.650.xml
.coverage
pyreduce/wavecal/old/*
