datasets
DATA
__pycache__
*.sw[op]
.coverage
cov.xml
*.so
*.o
pyreduce/clib/_slitfunc_2d.c
pyreduce/clib/_slitfunc_bd.c
pyreduce_astro.egg*
.vscode
*.py[cod]
.venv
.uv
esorex.log
pyesorex.log
test/test_outputs
docs/_build/
.claude
debug/
idl/
