numpy==1.21.2
scipy==1.7.1
astropy==4.3.1
matplotlib==3.4.3
cffi==1.14.6
scikit-image==0.18.3
python-dateutil==2.8.2
wget==3.2
joblib==1.0.1
pytest==6.2.5
pytest-cov==2.12.1
jsonschema==3.2.0
tqdm==4.62.2
colorlog==6.4.1

# optional for tools combine
# git+https://github.com/cylammarco/SpectRes
