numpy==1.21.1
scipy==1.7.0
astropy==4.3.post1
matplotlib==3.4.2
cffi==1.14.6
scikit-image==0.18.2
python-dateutil==2.8.2
wget==3.2
joblib==1.0.1
pytest==6.2.4
pytest-cov==2.12.1
jsonschema==3.2.0
tqdm==4.62.0
colorlog==5.0.1

# optional for tools combine
# git+https://github.com/cylammarco/SpectRes
